.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Adjust the width as needed */
  width: 400px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
}
.wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
.box {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
